{% extends "default.html" %}
{% block main %}
  <div class="container">
    <br><br>
    <div class="row center-align">
       <div style="width: 400px; height: 400px; font-size: 270px;">VCHAT</div>
    </div>
    <div class="row">
      <a href="https://mega.nz/#F!nmpD2SpS!H87gwBHsTj6EmDFW71MZRw"><div class="waves-effect waves-light btn-large"> Download Vector-Chat | Windows x64</div></a>
    </div>
    <div class="row">
      <a href="signup"><div class="waves-effect waves-light btn-large"> Sign up</div></a>
    </div>
  </div>
{% endblock %}
